.asked-questions {
  padding: 60px 0;

  &__title {
    color: var(--primary);
    text-align: center;
    margin-bottom: 20px;
    @include font(Inter, 40px, 56px, 600);
  }

  &__accordions {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@include tablet {
  .asked-questions {
    padding: 40px 0;

    &__title {
      @include fontAdaptive(30px, 46px);
    }
  }
}
@include phone {
  .asked-questions {
    padding: 40px 0;

    &__title {
      @include fontAdaptive(20px, 36px);
    }
  }
}
