.test-container {
  padding: 20px;
  min-height: 100vh;

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__button {
    display: flex;
    margin-bottom: 10px;
  }

  &__link {
    display: flex;
  }
}
