.banner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 120px;

  &__container {
    max-width: min(calc(100vw - 40px), 1290px);
    width: 100vw;
    height: max-content;
  }

  &__line {
    width: var(--max-width);
    height: 180px;
    background: var(--green);

    &--left {
      margin: 200px 0 auto;
    }

    &--right {
      margin: 200px 0 auto;
    }
  }

  &__inner {
    color: var(--primary);
  }

  &__content {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__content-block {
    padding-right: 20px;
    height: 100%;
  }

  &__text-block {
    background: var(--banner-bg);
    max-width: 728px;
    height: 581px;
    max-height: 585px;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
    //margin-right: -26%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 10px;
    @include font(Inter, 30px, 30px, 600);
  }

  &__list-title {
    margin-bottom: 10px;
    font-style: italic;
    @include font(Alegreya, 28px, 34px, 400);

    &::before {
      content: '';
      display: inline-block;
      width: 54px;
      height: 2px;
      margin-right: 14px;
      vertical-align: middle;
      background: var(--primary);
    }
  }

  &__list {
    li {
      margin-left: 68px;
      @include font(Inter, 20px, 30px, 300);

      &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 1px;
        margin-right: 10px;
        vertical-align: middle;
        background: var(--primary);
      }
    }
  }

  &__description {
    margin: 10px 0 0 0;
  }

  &__button_inner {
    text-align: center;
    margin-top: 10px;
  }

  &__image {
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// MEDIA
@media(max-width: 1321px) {
  .banner {
    padding: 0;

    &__text-block {
      height: min-content;
    }

    &__list-title {
      @include fontAdaptive(23px, 26px);
    }

    &__list {
      li {
        @include fontAdaptive(18px, 24px);
      }
    }

    &__title {
      @include fontAdaptive(24px, 26px);
    }

    &__image {
      width: max-content;

      img {
        width: auto;
        max-height: 449px;
        min-height: unset;
      }
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    padding-top: 70px;
  }
}

@media (max-width: 1049px) {
  .banner {
    grid-template-columns: auto auto;

    &__line {
      display: none;
    }

    &__text-block {
      padding: 15px;
    }

    &__list-title {
      @include fontAdaptive(18px, 26px);

      &::before {
        width: 27px;
        height: 1px;
        margin-right: 10px;
      }
    }

    &__list {
      li {
        margin-left: 37px;
        @include fontAdaptive(14px, 24px);

        &::before {
          width: 7px;
          height: 1px;
          margin-right: 6px;
        }
      }
    }

    &__title {
      @include fontAdaptive(18px, 20px);
    }

    &__image {
      width: unset;
      img {
        width: 100%;
        max-height: 398px;
      }
    }
  }

}

@media (max-width: 800px) {
  .banner {
    display: flex;

    &__content {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    &__text-block {
      width: 75%;
      max-width: none;
      margin: 0;
    }

    &__image {
      margin: 0;
      width: 55%;
    }
  }
}

@media (max-width: 622px) {
  .banner {
    &__text-block {
      width: 100%;
    }

    &__title {
      margin-bottom: 5px;
      @include fontAdaptive(20px, 22px);
      text-align: center;
    }

    &__list-title {
      margin: 0;
      @include fontAdaptive(18px, 20px);
    }

    &__list {
      li {
        @include fontAdaptive(14px, 20px);
      }
    }

    &__image {
      width: 77%;
    }
  }
}
