section.blog-banner
  picture.blog-banner__background
    img(src='./images/components/blog-page/blog-banner/background.png')
  .container.blog-banner__container
    .blog-banner__content
      h1.blog-banner__title Блог
      p.blog-banner__text На этой странице будут выложены статьи с разной информацией Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid culpa facere iste reiciendis totam voluptates voluptatum. Atque delectus, et?
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloremque et expedita facere ipsa itaque quaerat, quibusdam rem ullam. Ad earum error est, explicabo officiis perferendis quod ratione rem sapiente temporibus, unde veniam? Adipisci ducimus iusto magnam molestias, officia quod.
