section.last-blog
  .container.last-blog__container
    h2.title--h2.last-blog__title Последние новости
    p.last-blog__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dignissimos fugiat ipsa maiores nam neque pariatur perspiciatis quasi, ratione sapiente!
    .last-blog__list
      +blog-card('Грусть', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto consectetur cumque ex, explicabo fuga fugit iure laboriosam odio omnis pariatur possimus quos repellendus repudiandae, saepe sint sunt tenetur, vel.', './images/mixins/blog-page/blog-card/cry.png', './images/mixins/blog-page/blog-card/smile.png')
      +blog-card('Гнев', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto consectetur cumque ex, explicabo fuga fugit iure laboriosam odio omnis pariatur possimus quos repellendus repudiandae, saepe sint sunt tenetur, vel.', null, null, './images/mixins/blog-page/blog-card/fire.gif')
      +blog-card('Грусть', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto consectetur cumque ex, explicabo fuga fugit iure laboriosam odio omnis pariatur possimus quos repellendus repudiandae, saepe sint sunt tenetur, vel.', './images/mixins/blog-page/blog-card/cry.png', './images/mixins/blog-page/blog-card/smile.png')

