section.reviews
  .container.reviews__container
    h2.title--h2.reviews__title Отзывы
    .reviews__list
      .reviews__sub-list
        +review-card('Василий', 'Личностное развитие' , 'Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки', 5)
        +review-card('Василий', 'Личностное развитие' , 'Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки', 4)
      .reviews__sub-list
        +review-card('Василий', 'Личностное развитие' , 'Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки', 4)
        +review-card('Василий', 'Личностное развитие' , 'Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки', 5)
        +review-card('Василий', 'Личностное развитие' , 'Пришел чтобы избавиться от заикания и стать уверенней в себе, Виталий смог помочь с этим в довольно короткие сроки', 5)
    button.button.reviews__button Показать еще отзывы
