section.services
  .container.services__container
      p.services__title Предоставляемые услуги
      p.services__sub-title Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi illum magnam officiis repellat?
      a(href='services.html').last-blog__link.services__link Посмотреть все услуги
      .services__list
        +service-card('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet,asdas dasd asd asd asd  sdasdas  asd asd asda sdas dasd asd asd asd asdas dfasd asd asd asd asd s consectetur adipisicing elit. Praesentium, ullam!', 1)
        +service-card('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!', 2)
        +service-card('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!', 3)
        +service-card('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!', 4)
      button.button.services__button(data-popup-name='application') Записаться на прием
