section.services
  .container
    .services__inner
      .services__main-text
        p.services__title Предоставляемые услуги
        p.services__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi illum magnam officiis repellat?
      .services__slider
        .services__slider-wrapper
          +service('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!')
          +service('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!')
          +service('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!')
          +service('../../../images/components/index-page/services/slider-image.png', 'Лечение депрессии', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, ullam!')
      .services__arrows
        .services__arrow
          .services__arrow--prev
        .services__arrow
          .services__arrow--next
