.banner
  .container
    .banner__inner
      .banner__text-block
        .banner__text-block__inner
          p.banner__text-block__title Знакомьтесь, психолог Виталий Дмитриевич
          p.banner__text-block__list-title Я помогу избавиться вам от:
          ul.banner__text-block__list
            li Депрессии и тревоги
            li Трудности принимать решения
            li Проблем с карьерой
            li Проблем в отношениях
            li Зависимостей
            li Фобий и страхов
          p.banner__text-block__list-title.banner__text-block__description.
            Если вы находитесь на этом сайте, значит вам нужна помощь, помогите себе, как можно скорей, ведь чем больше вы откладываете, тем сложней принять решение!
        .banner__image-block
          img(src="../../images/banner/banner-image.jpg")


