section.copyright
  .container.copyright__container
    .copyright__inner
      p.copyright__text Создание сайта:
      a(href='https://t.me/Nulva', target='_blank').copyright__link Василий Андриевских
