.link {
  display: flex;
  text-transform: uppercase;
  color: var(--orange);
  transition: color .3s ease-in-out;
  @include font(Roboto, 16px, 22px, 600);

  &:hover {
    color: var(--green);
  }
}
