mixin ui-banner(title, text)
  section.ui-banner
    picture.ui-banner__background
      img(src='./images/components/blog-page/blog-banner/background.png')
    .container.ui-banner__container
      .ui-banner__content
        h1.ui-banner__title=title
        p.ui-banner__text=text
