extends ~@templates/main-template

block vars
  - title = 'Index'

block content
  include ~@components/index-page/banner
  include ~@components/index-page/about-me
  include ~@components/index-page/services
  include ~@components/index-page/why-choose-me
  include ~@components/index-page/cost
  include ~@components/index-page/last-blog
