extends ~@templates/main-template

block vars
  - title = 'service-detail'

block content
  +ui-banner('Детальная страница услуги', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet laboriosam laborum maxime minima mollitia nobis nostrum officiis qui sapiente tenetur. Adipisci aspernatur consectetur cum hic officiis soluta vel veniam vitae.')
  section.service-detail
    .container
      +content(true, true)
  include ~@components/service-detail-page/reviews
  include ~@components/service-detail-page/review-popup
