mixin service-card(img,title,description, number)
  .service-card
    .service-card__image
      if number === 1
        include ~@svg/mixins/index-page/service-card/icon-1.svg
      else if number === 2
        include ~@svg/mixins/index-page/service-card/icon-2.svg
      else
        include ~@svg/mixins/index-page/service-card/icon-3.svg
    .service-card__inner
      p.service-card__title=title
      p.service-card__description=description
      a(href='service-detail.html').button.button--small.service-card__link Читать подробней
