mixin accordion(text)
    .accordion
        .accordion__head
            p.accordion__name=text
            button.accordion__button
        .accordion__inner
          .accordion__content
              block
