.popup {
  background: var(--primary-25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--window-height, 100vh);
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
  z-index: var(--z-over-top);

  &--view {
    opacity: 1;
    visibility: visible;

    .popup {
      &__inner {
        transform: translateX(0);
      }
    }
  }

  &__inner {
    height: 100%;
    margin-left: auto;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    background: var(--yellow);
    width: 400px;
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: auto 1fr;
  }

  &__content {
    height: 100%;
    overflow: hidden auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-25);
  }

  &__title {
    color: var(--primary);
    @include font(Alegreya, 25px, 35px, 500);
  }

  &__close {
    position: relative;
    width: 20px;
    height: 20px;
    margin-bottom: auto;

    &:hover {
      span {
        background: var(--primary-50);
      }
    }

    span {
      display: block;
      width: 20px;
      height: 2px;
      background: var(--primary);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
      transition: background .3s ease-in-out;

      &:first-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:last-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

@include tablet {
  .popup {
    &__close {
      &:hover {
        span {
          background: var(--primary);
        }
      }
    }
  }
}

@include phone {
  .popup {
    &__inner {
      width: 100%;
    }
  }
}
