:root {
  --primary: #551756;
  --primary-25: rgba(85, 23, 86, 0.25);
  --primary-50: rgba(85, 23, 86, 0.50);
  --primary-75: rgba(85, 23, 86, 0.75);
  --orange: #ff8900;
  --green: #B5ECA1;
  --green-50: rgba(181, 236, 161, 0.5);
  --dark-green: #92B187;
  --light-yellow: #FFCA00;
  --yellow: #FFFAD0;
  --white: white;
  --z-center: 50;
  --z-top: 80;
  --z-over-top: 100;
  --banner-bg: #FFFCE5;
  --banner-bg-0: rgba(255, 252, 229, 0);
  --gradient-for-review-card: linear-gradient(360deg, var(--banner-bg) 0%, var(--banner-bg-0) 100%);
}
