@import './_mixins.scss';
@import './_fonts';
@import './_vars';
@import './_generic';

html {
  width: 100vw;
  overflow: hidden auto;
}

body {
  min-width: 320px;
  box-sizing: border-box;
  overflow: hidden auto;
  min-height: var(--window-height, 100vh);
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  background-image: url("../images/background.png");
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: top center;
}

*, :before, :after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


header, main, footer {
  width: 100%;
}


.container {
  margin: 0 auto;
  max-width: min(calc(100vw - 40px), 1240px);
}

@include tablet {
  body {
    background-size: cover;
    background-position: center;
  }
}

@import './_imports';

main {
  section:not(.popup) {
    padding: 60px 0 0;

    &:last-child {
      padding-bottom: 60px;
    }
  }
}

@include tablet {
  main {
    section:not(.popup) {
      padding-top: 40px;
      padding-bottom: unset;

      &:last-child {
        padding-bottom: 40px;
      }
    }
  }
}
